<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Chatapp - Rooms</title>
	<link rel="stylesheet" href="/css/roomsStyles.css">
	<script src="/js/jquery-2.1.4.min.js"></script>
	<!-- insert socket.io -->
	<!-- if it wasn't the fact that we are using engines ^6, we would have required babel.min.js -->
	<script src="/socket.io/socket.io.js"></script>
<!-- Script for front-end socket.io -->
	<script>
	'use strict';
	/* roomslist is not a route, it is a socket namespace */
		$(() => {
			/* This will initialize the socket.io process usally if not using http instead of http use ws*/
		let socket = io('http://localhost:3000/roomslist');
		/* This will react on event 'connect' */
		socket.on('connect', () => console.log('client connected'))
	});
	</script>
</head>
<body>
	<div class="container">
		<div class="titlePanel">
			<h1>ChatCAT | Select or Create a Chatroom</h1>
		</div>
		<div class="controls">
			<div class="userPicHolder"><img src="<%= user.profilePic %>" alt="<%= user.fullName %>"></div>
			<p class="userName"><%= user.fullName %></p>
			<a href="/logout" id="logOutBtn">Logout</a>
		</div>
		<div class="controls">
			<input type="text" name="roomName" placeholder="Create a new Chatroom">
			<a href="#" id="createBtn">Create</a>
		</div>
		<div class="roomsListDiv">
			<ul class="roomsList" id="roomsListUL">
			<!-- Loop list items here -->
				<a href="chatroom.ejs"><li>World Cuisine</li></a>
				<a href="chatroom.ejs"><li>Coffee and Conversations</li></a>
			<!-- Loop ends -->
			</ul>
		</div>
	</div>
</body>
</ejsl>
